<html>
	<body>
		<!--
		<div id="logoYaesta">
            <img src='cid:${logoYaesta}' width="200px" height="200px" style="display: block;float: right; margin: 0em 0em 1em 1em "/>
            <h3>YaEsta.com!</h3>
        </div>
        -->
		<p>
			Saludos de - ${mailInfo.mailSender.name}
		</p>
		<p>
			Estimado - ${mailInfo.mailReceiver.name}
		</p>
		<p>
			 ${mailInfo.generalText}
		</p>
		<div id="Product">
            <table>
              <tr>
                <td><b>Proveedor</b></td>
              	<td><b>Producto</b></td>
              	<td><b>Codigo</b></td>
              	<td><b>Nombre</b></td>
              	<td><b>Cantidad</b></td>
              </tr>
              #foreach( $item in $mailInfo.itemInfoList )
    				<tr>
    					<td>$item.supplierName	
    					</td>
    					<td>
    					   <img src='$item.url'>	
    					</td>
    					<td>$item.refCode	
    					</td>
    					<td>$item.name	
    					</td>
    					<td align="right"><b>$item.quantity</b>
    					</td>
    				</tr>
				#end
            </table>
            <br></br>
            #foreach( $textInfo in $mailInfo.textList )
            <p>
                $textInfo
            </p>
            #end
        </div>
	</body>

</html>