<html>
	<body>
		<!--
		<div id="logoYaesta">
            <img src='cid:${logoYaesta}' width="200px" height="200px" style="display: block;float: right; margin: 0em 0em 1em 1em "/>
            <h3>YaEsta.com!</h3>
        </div>
        -->
		<p>
			Saludos de - ${mailInfo.mailSender.name}
		</p>
		<p>
			Estimado - ${mailInfo.mailReceiver.name}
		</p>
		<p>
			 ${mailInfo.generalText}
		</p>
		
	</body>

</html>